TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development

DB_HOST=hostname
DB_PORT=1234
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=database

GOOGLE_CLIENT_ID=123abc
GOOGLE_CLIENT_SECRET=123abc
